# API Configuration
VITE_API_URL=http://localhost:8000/api

# Google Maps API Key
VITE_GOOGLE_MAPS_KEY=AlzaSyCevHn2YBO6xlgkG6dwidppdXK-EdGId2M

# For production
# VITE_API_URL=https://your-api-domain.com/api
